.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fafafa !important;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 1vh !important;
  padding-top: 1vh !important;
  margin-top: 1vh !important;
  font-size: .75em !important;
}

.Color-column:hover {
    flex-grow: 2;
    filter: brightness(1);
}

.Info-panels-left {
  background-color: #282c34;
  max-height: 90vh;
  max-width: 50vw;
}

.Info-panels-right {
  background-color: #282c34;
  max-height: 90vh;
  max-width: 50vw;
}

.Comment-scroll-box {
  overflow: auto
}

.Info-panel {
  max-height: 90vh;
}

.columns {
  margin-bottom: 0 !important
}

.Select-color-instructions {
  background-color: #282c34;
  color: #fafafa !important;
  min-height: 100vh;
}

.Dash-panels {
  background-color: #282c34;
}

.Dashboard {
  padding: 0px !important;
}

.Color-column {
  min-height: 20vh;
  max-height: 50vh;
}

.box {
  background-color: #42454A !important;
  color: #fafafa !important;
}

.top-score-box{
  max-height: 39.3vh !important;
  min-height: 10vh !important;
  overflow: auto
}

.count-box {
  max-height: 20vh !important;
  min-height: 10vh !important;
  overflow: auto
}

.subreddit-box {
  max-height: 35vh !important;
  min-height: 15vh !important;
  overflow: auto
}

.comment-feed-line {
  background-color: #282c34 !important;
}

.comment-box {
  overflow: auto;
  background-color: #686A6E !important;
}

.datapoint {
  color: #E9E9E9 !important;
}
