.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 1vh !important;
  padding-top: 1vh !important;
}

.Color-column:hover {
    flex-grow: 2;
    filter: brightness(1);
}

.Info-panels-left {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  max-width: 50vw;
}

.Info-panels-right {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  max-width: 50vw;
}

.columns {
  margin-bottom: 0 !important
}

.Select-color-instructions {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.Dash-panels {
  background-color: #282c34;
}

.Dashboard {
  padding: 0px !important;
}